.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 12px;
  text-align: center;
  background: linear-gradient(to top, transparent, transparent, #8D62FE35);
}


.title img {
  height: 60px;
  width: 60px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.cta {
  width: 130px;
  font-size: 1.05rem;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  color: white;
  background: #7a4bf6;
  border: 2px solid #7a4bf6;

}
.cta:hover{
  background-color: #7a4bf6;
}
.ctaOutline {
   width: 130px;
  font-size: 1.05rem;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  border: 2px solid #7a4bf6;
  color: #7a4bf6 !important;
  background: transparent;
}

.ctaOutline:hover {
  color: #9ca3af !important;
  border-color: #9ca3af;
}

.install {
  margin-top: 2rem;
  padding: 1rem 1.3rem;
  border-radius: 16px;
  display: inline-block;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
  text-align: center;
}

.example {
  padding: 3rem 2rem;
  text-align: center;
}

.example pre {
  max-width: 600px;
  margin: 1.5rem auto;
  text-align: left;
  border-radius: 16px;
}

.toast_button {
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  border-radius: 999px;
  background: #7a4bf6;
  border: none;
  color: white;
  cursor: pointer;
}
.toast_button:hover{
   background: linear-gradient(145deg, #7a4bf695, #7a4bf6);
}