.hero {
  text-align: center;
  padding: 5rem 1rem;
  background: linear-gradient(to top, transparent, transparent, #5048e533);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.title img {
  height: 60px;
  width: 60px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.cta {
  font-size: 1.05rem;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  color: white;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  border: 2px solid #4f46e5;
}

.cta:hover {
  opacity: 0.9;
}

.ctaOutline {
  font-size: 1.05rem;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  border: 2px solid var(--primary-border-color);
  color: var(--primary-font-color) !important;
  background: transparent;
}

.ctaOutline:hover {
  border-color: #4f46e5;
}

.install {
  margin-top: 2rem;
  padding: 1rem 1.3rem;
  border-radius: 16px;
  display: inline-block;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
  text-align: center;
}

.example {
  padding: 3rem 2rem;
  text-align: center;
}

.example pre {
  max-width: 600px;
  margin: 1.5rem auto;
  text-align: left;
  border-radius: 16px;
}

.toast_button {
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  border-radius: 999px;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  border: none;
  color: white;
  cursor: pointer;
}
.toast_button:hover{
   background: linear-gradient(145deg, #5053f8, #4037e3);
}